*{
    margin:0;
    padding:0;
}
body{
    background-color: #d4d4d4;
    font-family: 'Segoe UI',sans-serif;
    line-height: 1.65;
}
nav ul li{
    display:inline-flex;
    flex-flow:row;
    gap: 10px;
    margin:auto 2px;
}
nav img.image{
    margin:10px;
    max-width: 160px;
    display: inline;
}
nav {
    background-color: #08086b;
    box-sizing: content-box;
    width:100%;
    position:fixed;
    margin: 0;
    left:0;
    top:0;
}
.menu{
    display: flex;
    box-sizing: content-box;
    position:fixed;
    flex-direction: column;
    background-color: #08086b;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: aliceblue;
}
a{
    text-decoration: none;
    margin-left: 10px;
}
.text img{
    width:200px;
    height:200px;
}
.container{
    background-color: antiquewhite;
    width: 80%;
    min-width:800px;
    padding: 4em;
    margin:50px auto;
    box-sizing: border-box;
    display: flex;
    column-gap: 12px;
}

.container div{
    border-radius: 20px;
}

.text{
    order: 2;
    flex: 3;
    padding: 10px 15px;
    background-color: aliceblue;
}
.iklan{
    flex: 1;
    order: 1;
    padding: 10px 15px;
    background-color: aliceblue;
}
.iklan img{
    display: flex;
    flex-direction: row;
    position:sticky;
    top:0;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}
figcaption{
    font-size:12px ;
    color:#aaa ;
}
.link{
    flex: 1;
    order: 3;
    padding: 10px 15px;
    background-color: aliceblue;
}
.panel{
    background-color: aliceblue;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.gallery{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    box-sizing:border-box;
    justify-content:center;
}
.thumbnail{
    width:25%;
}
.thumbnail img{
    width:100%;
    /* height:200px; */
}

@media(max-width:800px){
    .container{
        flex-direction: column;
        flex-wrap: wrap;
        width: 200px;
        max-width: 550px;
    }
    .text, .iklan, .link{
        margin-bottom: 10px;
    }
    .iklan{
        display: flex;
        flex-direction: column;
        position:static;
        flex-wrap: wrap;
    }
    .thumbnail{
        width:50%;
    }
}